{% extends "base.html.twig" %}

{% block title %}
    {{ ad.title }}
{% endblock %}

{% block body %}

    <div class="ad-title" style="background-image: url({{ ad.coverImage }})">
        <div class="container">
            <h1>{{ ad.title }}</h1>
            <p>{{ ad.introduction }}</p>
            <p class="h2">
                <strong>{{ ad.rooms }} chambre{% if ad.rooms > 1 %}s{% endif %}</strong> pour <strong>{{ ad.price | number_format(2, ',', ' ')}}&euro;</strong> par nuit
            </p>
            <div class="row mt-5">
                <div class="col-md-4 text-center">
                    <a href="{{ path('booking_create', {'slug': ad.slug}) }}" class="btn btn-primary btn-sm btn-block mb-2">Réserver</a>
                </div>
                {% if app.user == ad.author %}
                    <div class="col-md-4 text-center">
                        <a href="{{ path('ads_edit', {'slug': ad.slug}) }}" class="btn btn-secondary btn-sm btn-block mb-2">Modifier l'annonce</a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href="{{ path('ads_delete', {'slug': ad.slug}) }}" class="btn btn-danger btn-sm btn-block mb-2" onClick="return confirm(`Êtes vous sur de vouloir supprimer l'annonce : {{ ad.title }} ?`)">Supprimer l'annonce</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 mb-3">
                {{ ad.content | raw }}

                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for image in ad.images %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
                        {% endfor %}
                        
                    </ol>
                    <div class="carousel-inner">
                        {% for image in ad.images %}
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                <img class="d-block w-100" src="{{ image.url }}" alt="First slide">
                                  <div class="carousel-caption d-none d-md-block">
                                    <h5>{{ ad.title }}</h5>
                                    <p>{{ image.caption }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Précédent</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Suivant</span>
                    </a>
                </div>

                <hr>

                {% if ad.comments | length > 0 %}
                    <h2 class="mb-3">Commentaires de nos voyageurs :</h2>

                    <div class="alert alert-info mb-5">
                        <h4 class="alert-heading text-center">
                            <div class="row align-items-center">
                                <div class="col-6">
                                    Note globale donnée par nos voyageurs 
                                </div>
                                <div class="col-6">
                                    {% include "shared/rating.html.twig" with{'rating': ad.avgRatings} %} {# <small>{{ ad.avgRatings }}</small> #}
                                    <br>
                                    <small>(Calculée sur {{ ad.comments | length }} avis)</small>
                                </div>
                            </div>
                        </h4>
                    </div>

                    {% for comment in ad.comments %}
                        <div class="row bg-secondary rounded mb-3 py-3 px-3 align-items-center">
                            {% set a = comment.author %}
                            {% set url = path('user_show', {'slug': a.slug}) %}

                            <div class="col-3 col-lg-2">
                                <a href="{{ url }}">
                                    <img src="{{ a.picture }}" class="avatar avatar-medium" alt="Avatar de {{ a.fullName }}">
                                </a>
                            </div>
                            <div class="col">
                                <strong>{{ a.firstName }}</strong> a dit :
                                <blockquote>
                                    {{ comment.content }}
                                </blockquote>
                                <strong>Note donnée : </strong>

                                {% include "shared/rating.html.twig" with{'rating': comment.rating} %}
                            </div>
                        </div>
                    {% endfor %}
                    <hr>
                {% else %}
                <div class="alert alert-info">
                    <h3>Cette annonce n'a pas encore reçu de commentaires.</h3>
                </div>
                {% endif %}
                
            </div>
            <div class="col">
                {% set a = ad.author %}
                
                {% set url = path('user_show', {'slug': a.slug}) %}

                <div class="row mb-3 align-items-center">
                    <div class="col-2 col-md-4">
                        <a href="{{ url }}">
                            <img src="{{ a.picture }}" class="avatar avatar-medium" alt="Avatar de {{ a.fullName }}">
                        </a>
                    </div>
                    <div class="col">
                        <a href="{{ url }}">
                            <h3>{{ a.fullName }}</h3>
                        </a>
                        <span class="badge badge-primary">{{ a.ads | length }} annonce{% if a.ads | length > 1 %}s{% endif %}</span>
                    </div>
                </div>
                {{ a.description | raw }}
            </div>
        </div>
    </div>
{% endblock %}